actions==1.0.3
attrs==20.3.0
configobj==5.0.6
configparser==5.0.1
iniconfig==1.1.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
PyYAML==5.4.1
requests==2.25.1
selenium==3.141.0
wcwidth==0.2.5
webdriver-manager==3.3.0
webdriverdownloader==1.1.0.3
webdrivermanager==0.10.0
